<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Default Title" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <p id="notice"><%= notice %></p>
    <% if logged_in? %>
      <ul>
        <% if admin_user? %>
          <li><%= link_to t('layouts.user-index'), admin_users_path, id: "users-index" %></li>
          <li><%= link_to t('layouts.add-user'), new_admin_user_path, id: "add-user" %></li>
        <% end %>
        <li><%= link_to t('layouts.index-title'), tasks_path, id: "tasks-index" %></li>
        <li><%= link_to t('layouts.new-title'), new_task_path, id: "new-task" %></li>
        <li><%= link_to t('layouts.account-setting'), user_path(current_user.id), id: "account-setting" %></li>
        <li><%= link_to t('layouts.sign-out'), session_path(current_user.id),method: :delete, id: "sign-out" %></li>
      </ul>
    <% else %>
      <ul>
        <li><%= link_to t('layouts.sign-up'), new_user_path, id: "sign-up" %></li>
        <li><%= link_to t('layouts.sign-in'), new_session_path, id: "sign-in" %></li>
      </ul>
    <%end%>
    <%= yield %>
  </body>
</html>
